<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<main class="wp-block-group">

    <!-- wp:child-obsidian-reserve/text-img-bg {
		"className": "is-business-hero",
		"alignment": "center",
		"titleTag": "h1",
		"title": "Airport Car Delivery Service — NAIA and Manila Airports.",
		"description": "Land. Your car is waiting.",
		"buttonText": "",
		"bgUrl": "/assets/images/text-img-bg/airplane-car.webp",
		"overlayType": "dark"
	} /-->

</main>

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->