<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<main class="wp-block-group">

    <!-- wp:child-obsidian-reserve/text-img-bg {
		"className": "is-business-hero",
		"alignment": "center",
		"titleTag": "h1",
		"title": "Business Car Rental for Manila Corporate Executives.",
		"description": "Exact model. Door to door.",
		"buttonText": "",
		"bgUrl": "/assets/images/text-img-bg/car-man.webp",
		"overlayType": "dark"
	} /-->

</main>

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->