<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<main class="wp-block-group">

    <!-- wp:child-obsidian-reserve/text-img-bg {
		"className": "is-airport-hero",
		"alignment": "center",
		"titleTag": "h1",
		"title": "The Obsidian Journal. Luxury Cars, Roads, and Lifestyle.",
		"description": "Tips, guides, and stories.",
		"buttonText": "",
		"bgUrl": "/assets/images/text-img-bg/car-hero.webp",
		"overlayType": "dark"
	} /-->
	<!-- wp:child-obsidian-reserve/trending-blogs {
		"sectionTitle": "The Season. The Top Reads.",
		"rightPanelSubtitle": "What \u003cspan class=\u0022text-gold\u0022\u003eObsidian Clients\u003c/span\u003e Are Reading This Season Right Now."
	} /-->
	<!-- wp:child-obsidian-reserve/top-reads-journal {
		"sectionTitle": "Top Reads from the Journal.",
		"readMoreText": "Read More",
		"readMoreUrl": "#"
	} /-->

</main>

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->