<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<main class="wp-block-group">

    <!-- wp:child-obsidian-reserve/text-img-bg {
		"className": "is-airport-hero",
		"alignment": "center",
		"titleTag": "h1",
		"title": "The Obsidian Journal. Luxury Cars, Roads, and Lifestyle.",
		"description": "Tips, guides, and stories.",
		"buttonText": "",
		"bgUrl": "/assets/images/text-img-bg/car-hero.webp",
		"overlayType": "dark"
	} /-->

</main>

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->